<mat-sidenav-container>
  <mat-sidenav
    class="sidenav"
    #sidenav
    [opened]="!isSmallScreen"
    [fixedInViewport]="true"
    [mode]="sidenavMode"
  >
    <mat-toolbar color="primary"> Smart Examples </mat-toolbar>
    <mat-nav-list>
      <a
        *ngFor="let menuItem of itemsMenu"
        mat-list-item
        routerLink="{{ menuItem.link }}"
        routerLinkActive="active"
      >
        <mat-icon fontSet="fa" [fontIcon]="menuItem.icon"></mat-icon>
        <span>
          {{ menuItem.label }}
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar-menu" color="primary">
      <button mat-icon-button class="example-icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <mat-toolbar class="toolbar-menu" color="primary"> My App </mat-toolbar>

    <div class="content-route">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
